@import "variables.scss";

hr {
  width: 45px;
  height: 2px;
  display: block;
  margin: auto auto 0px;
  border-radius: 99px;
  background: #fff;
  opacity: .9;
}
a {
  text-decoration: none;
  color: $primary !important;
}
.icon-menu:before {
  content: '\f0c9';
}
.footer {
  background-color: black;
  height: auto;
  color: white !important;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 900px){
    flex-direction: column;
    text-align: center;
  }
  &--flex{
    padding: 2%;
  }
}
.footer--flex p{
  font-size: 1rem;
  margin: 2px 2px;
  font-style: italic;
  color: white;
}
.footer-author {
  background-color: black;
  height: auto;
  color: white !important;
  text-align: center;
  padding-bottom: 1vh;
}
.footer-text__item:hover {
  color: yellow !important;
}
.footer-text {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  color: white !important;
}
.seo{
  display: none;
}
