@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap&subset=latin-ext');

$primary: #000000;
$secondary: #ffda00;
$background: #f9f8f4;
$info: #5B5C79;
hr {
  width: 45px;
  height: 2px;
  display: block;
  margin: auto auto 0px;
  border-radius: 99px;
  background: #fff;
  opacity: .9;
}
a {
  text-decoration: none;
  color: $primary !important;
}
.icon-menu:before {
  content: '\f0c9';
}

.homepage {
  //display: table-cell;
  //vertical-align: middle;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/tlo3.jpg") no-repeat;
  //opacity: 0.85;
  background-size: cover;
  @media only screen and (max-width : 800px) {
    background: url("../assets/images/mobile.jpg");
    background-size: cover;
  }
}

.about-company-page {

  height: auto !important;
  &__slider {
    float: right;
  }

  &__text {
    float: left;
    margin: auto;
    font-size: 135%;
    @media only screen and (max-width: 600px) {
      font-size: 110%;
      margin-bottom: 5vh !important;
    }
  }
}
.contact-page {
  clear: both;
  width: 100vw;
  height: auto;
}

.offer-page {
  clear: both;
  width: 100vw;
  height: auto;


  &__title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    color: black;
  }

  &__title--main {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
  }

  &__subtitle {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: black;
    opacity: 0.7;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile {
  width: 100vw;
  height: auto;


  &__title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.25rem;
    color: black;
  }

  &__title--main {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 3rem;
    color: black;
  }

  &__subtitle {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-display: auto;
    font-size: 1rem;
    color: black;
    opacity: 0.7;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: auto;
    height: auto;
  }
}

.logo-1 {
  display: flex;
  height: 10vh;
  width: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.logo-1:hover {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  cursor: pointer;
}
.logo-mobile {
  display: flex;
  height: 10vh;
  width: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.map-mobile {
  width: 85vw;
  height: 50vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.map {
  width: 40vw;
  height: 40vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

#menumobile {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 250px;
  padding: 10px 0 20px 0;
}

.menumobilebutton {
  font-size: 30px;
  -webkit-transition: .2s;
  transition: .2s;
}

.menumobilebutton::after {
  content: "";
  display: block;
  position: relative;
  top: -7px;
  width: 0%;
  height: 3px;
  background-color: $secondary;
  transition: .2s;
}

.menumobilebutton:hover::after {
  width: 100%;
}

.menumobilecontainer {
  width: 100%;
  height: auto;
  position: fixed;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
  background-color: #ffffff;
  color: #ffffff;
}

.navcontainer {
  width: 95%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.menu {
  display: flex;
  //-ms-flex-pack: distribute;
  justify-content: space-around;
  //-webkit-box-align: center;
  //-ms-flex-align: center;
  align-items: center;
  width: 60vw;
}

.facebook {
  height: 100%;
  width: auto;
}

.menubutton {
  font-size: 4vh;
  height: 8vh;
  border-bottom: 4px solid transparent;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  top: 5px;
  cursor: pointer;
  width: auto;
  display: flex;
  //justify-content: space-around;
  align-items: center;
}

.menubutton:hover {
  color: $secondary !important;
  top: -3px;
  height: 92px;
}

.menucontainer {
  position: fixed;
  color: $primary;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
  height: 8vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-text{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: white;
}
.footer-text__item{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  color: white !important;
}
.footer-text__item:hover{
  color: yellow !important;
}
